{% extends 'base.html' %}
{% block javascript_includes %}

{% endblock javascript_includes %}
{% block content %}
	
	
	<div class="row">

		<div class="col-sm-6" >

			<label for="standartSelector">Выберите стандарт</label>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			      <div class="form-group">
							<select id="standartSelector" class="form-control">
								{% for standart in standarts %}
									<option>{{ standart.title }}</option>
								{% endfor %}
							</select>
						</div>
			    </h4>
			  </div>
			  <div class="panel-default">
			    <div class="panel-body">
			      <div id="StandartCompetentionColumn"></div>
			    </div>
			  </div>
			</div>

		</div>

		<div class="col-sm-6">

			<label for="customCompetentionSelector">Выберите пользовательскую компетенцию</label>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			      <div class="form-group">
							<select id="customCompetentionSelector" class="form-control">
								{% for customCompetention in request.user.customcompetention_set.all %}
									<option>{{ customCompetention.title }}</option>
								{% endfor %}
							</select>
						</div>
			    </h4>
			  </div>
			  <div class="panel-default">
			    <div class="panel-body">
			      <div id="CustomCompetentionColumn"></div>
			    </div>
			  </div>
			</div>

		</div>

	</div>

	<script type="text/javascript">

		function getStandart(standartTitle){
	    $.ajax({
	      type: "POST",
	      url: "../getStandart/",
	      data:  {
	        standartTitle: standartTitle,
	        csrfmiddlewaretoken: "{{ csrf_token }}",
	      },
	      success: function(msg){
	        $("#StandartCompetentionColumn").html(msg);
	      }
	    })
	  };

	  function getCustomCompetention(customCompetentionTitle){
	    $.ajax({
	      type: "POST",
	      url: "../getCustomCompetention/",
	      data:  {
	        customCompetentionTitle: customCompetentionTitle,
	        csrfmiddlewaretoken: "{{ csrf_token }}",
	      },
	      success: function(msg){
	        $("#CustomCompetentionColumn").html(msg);
	      }
	    })
	  };

		$(document).ready(function(){
			var $standartTitle = $('#standartSelector :selected').text();
			getStandart($standartTitle)

			var $customCompetentionTitle = $('#customCompetentionSelector :selected').text();
			getCustomCompetention($customCompetentionTitle);

			$('body').on('click', '.collapser', function(){
        $(this).next().collapse('toggle');
      });

		  $('body').on('click', '.changeCompetention', function(){
		    $.ajax({
		      type: "POST",
		      url: "../getStandart/",
		      data:  {
		        standartTitle: "Программист",
		        csrfmiddlewaretoken: "{{ csrf_token }}",
		      },
		      success: function(msg){
		        $(".LeftColumn").html(msg);
		      }
		    })
		  });

			$('body').on('change', '#standartSelector', function(){
				var $standartTitle = $('#standartSelector :selected').text();
				getStandart($standartTitle);
			});

			$('body').on('change', '#customCompetentionSelector', function(){
				var $customCompetentionTitle = $('#customCompetentionSelector :selected').text();
				getCustomCompetention($customCompetentionTitle);
			});
		  
		})
	</script>
{% endblock content %}

