<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<script type="text/javascript" src="{% static 'javascript/jquery-3.2.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/getStandart.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>
<body>
	<select id="standartSelector">
		{% for standart in standarts %}
			<option>{{ standart.title }}</option>
		{% endfor %}
	</select>
	<div class="LeftColumn">
		<p>Left column</p>
		
	</div>
	<div class="RightColumn">
		<p>Right column</p>
	</div>
	<script type="text/javascript">

		function getStandart(standartTitle){
	    $.ajax({
	      type: "POST",
	      url: "../getStandart/",
	      data:  {
	        standartTitle: standartTitle,
	        csrfmiddlewaretoken: "{{ csrf_token }}",
	      },
	      success: function(msg){
	        $(".LeftColumn").html(msg);
	      }
	    })
	  };

		$(document).ready(function(){
			var $standartTitle = $('#standartSelector :selected').text();
			getStandart($standartTitle)

		  $('body').on('click', '.changeCompetention', function(){
		    $.ajax({
		      type: "POST",
		      url: "../getStandart/",
		      data:  {
		        standartTitle: "Программист",
		        csrfmiddlewaretoken: "{{ csrf_token }}",
		      },
		      success: function(msg){
		        $(".LeftColumn").html(msg);
		      }
		    })
		  });

		  $('body').on('click', '.toggle', function(){
				var $this = $(this);

				if ($this.next().hasClass('show')) {
					$this.next().removeClass('show');
					$this.next().slideUp(350);
				} else {
					$this.parent().parent().find('li .inner').removeClass('show');
					$this.parent().parent().find('li .inner').slideUp(350);
					$this.next().toggleClass('show');
					$this.next().slideToggle(350);
				}
			});

			$('body').on('change', '#standartSelector, #reducedViewCheck', function(){
				var $standartTitle = $('#standartSelector :selected').text();
				getStandart($standartTitle)
			});
		  
		})
	</script>
</body>
</html>