<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul>
		<li>{{standart.title}}</li>
		<li>
			Обобщеные трудовые функции
			<ul>
			{% for commonWorkFunction in standart.commonworkfunction_set.all %}
				<li>{{commonWorkFunction}}
					<ul>
						<li>
							Уровень квалификации
							<ul>
								<li>{{commonWorkFunction.qualificationLevel}}</li>
							</ul>
						</li>
						<li>
							Возможные наименования должностей
							<ul>
							{% for positionTitle in  commonWorkFunction.positionTitles.all%}
								<li>{{positionTitle}}</li>
							{% endfor %}
							</ul>
						</li>
						<li>
							Требования к образованию и обучению
							<ul>
							{% for educationRequirement in commonWorkFunction.educationRequirements.all %}
								<li>{{educationRequirement}}</li>
							{% endfor %}
							</ul>
						</li>
						<li>
							Требования к опыту практической работы
							<ul>
							{% for workRequirement in commonWorkFunction.workRequirements.all %}
								<li>{{workRequirement}}</li>
							{% endfor %}
							</ul>
						</li>
						<li>
							Особые условия допуска к работе
							<ul>
							{% for accessRequirement in commonWorkFunction.accessRequirements.all %}
								<li>{{accessRequirement}}</li>
							{% endfor %}
							</ul>
						</li>
						<li>
							Трудовые функции
							<ul>
							{% for workFunction in commonWorkFunction.workfunction_set.all %}
								<li>
									{{workFunction.title}}
									<ul>
										<li>
											Трудовые действия
											<ul>
											{% for workAction in workFunction.workActions.all %}
												<li>{{workAction}}</li>
											{% endfor %}
											</ul>
										</li>
										<li>
											Необходимые умения
											<ul>
											{% for neccessarySkill in workFunction.neccessarySkills.all %}
												<li>{{neccessarySkill}}</li>
											{% endfor %}
											</ul>
										</li>
										<li>
											Необходимые знания
											<ul>
											{% for neccessaryKnowledge in workFunction.neccessaryKnowledges.all %}
												<li>{{neccessaryKnowledge}}</li>
											{% endfor %}
											</ul>
										</li>
									</ul>
								</li>
							{% endfor %}
							</ul>
						</li>
					</ul>
				</li>
			{% endfor %}
			</ul>
		</li>
		
	</ul>
</body>
</html>

<!--
		{% for workFunction in workFunctions %}
			<li>{{workFunction}}
				<ul>
					{% for workAction in workFunction.workActions.all%}
						<li>{{workAction}}</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
-->